/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 10s;
}


.rooms
{
   //border: 1px solid red;
  
   
}



  .pacman {
      width: 0px;
      height: 0px;
    display: inline-block; 
     // border-right: 10px solid transparent;
      border-top: 10px solid gold;
      border-left: 10px solid gold;
      border-bottom: 10px solid gold;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }


  .pacman_1 {
      border-top: 10px solid gold;
      border-left: 10px solid gold;
      border-bottom: 10px solid gold;
    }
  .pacman_2 {
      border-top: 10px solid green;
      border-left: 10px solid green;
      border-bottom: 10px solid green;
    }
  .pacman_3 {
      border-top: 10px solid red;
      border-left: 10px solid red;
      border-bottom: 10px solid red;
    }
  .pacman_4 {
      border-top: 10px solid silver;
      border-left: 10px solid silver;
      border-bottom: 10px solid silver;
    }
  .pacman_5 {
      border-top: 10px solid black;
      border-left: 10px solid black;
      border-bottom: 10px solid black;
    }
  .pacman_6 {
      border-top: 10px solid pink;
      border-left: 10px solid pink;
      border-bottom: 10px solid pink;
    }








.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}





.color_tile
{
  
  // border: 1px solid silver;
  width:50px;
  height:50px; 
  
  background-color: red;
  
  
}

.tile
{
  
   //border: 1px solid silver;
  width:50px;
  height:50px; 
  
  background-color: #071a38;
}

.game-column
{
   display: table-cell;
}

#CurrentRoomConfiguration
{
  width: 350px; 
}

#CurrentRoomOptions > * {
    display: inline-block;
    vertical-align: middle;
}

.connnection-room-label {
    display: inline-grid; 
    text-align: center;
    border: 2px solid silver;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
    align: center;
    width: 80px;
}

.connnection-room-label
{
   border: 3px solid silver;
  width:65px;
  height:65px; 
  
  background-color: #ddd;
  
}

.room-label
{
   border: 1px solid silver;
  width:50px;
  height:50px; 
  
  background-color: #ddd;
  
}

.room-container
{
   border: 1px solid red;
  
  display: inline;
   
}
.local_show_group
{
  
  border: 1px solid silver;
  position:absolute; 
  
 top: 250px; left: 20px;
  
  background-color: #ddd;
  
}

body {
  font-family: sans-serif;
  margin: 0em 0em;
 /* line-height: 1em;*/
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form {
  background-color: #eee;
  display: grid;
  padding: 1em;
  //max-width: 40ch;
}

input {
  border: 1px solid silver;
 /* display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  */
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
 // font-size: inherit;
  font-size: 12px;
  line-height: 1em;
  padding: 0.1em 0.1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
  
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}


#DoorsConfiguration > * {
  
  display:inline-block;
  vertical-align:middle;
}

.listclass {
  display:grid;
}
.sectionclass {
    margin-bottom:10px; 
}


#BarConfiguration > * {
  
  display:block;
  vertical-align:middle;
}
.tap 
{
  text-align :center; 
  border: 2px solid silver;
  
  margin-right: 0.25em;
  margin-bottom: 0.25em;
  align :center; 
   width:80px;
}

.tapLabel
{
  display: block; 
  font-size: 12px;
  height: 15px;
}

.SmalltapLabel
{
  display: block; 
  font-size: 9px;
  height: 9px;
}





.SmalltapLabel_red
{
  
   background-color: red;
  display: block; 
  font-size: 9px;
  height: 9px;
}




.status {
   background-color: #aaaaaa;;
  border: 2px solid silver;
  
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  
  width:10px;
  height:10px;
}



.status_undefined {
   background-color: #aaaaaa;;
  border: 2px solid silver;
  
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  
  width:10px;
  height:10px;
}

.status_Closed {
   background-color: #aaaaaa;;
  border: 2px solid silver;
  
  display: grid;
  /*grid-gap: 1em;*/
  padding: 1em;
  
}

.status_Open {
   background-color: #006400;;
  border: 2px solid silver;
  
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  
}




.Attrstatus_Closed {
   background-color: #aaaaaa;;
  border: 2px solid silver;
  
  display: grid;
  
}

.Attrstatus_Open {
   background-color: #006400;;
  border: 2px solid silver;
  
  display: grid;
  grid-gap: 1em;
  
}



.status_Inactive {
   background-color: #aaaaaa;;
  border: 2px solid silver;
  
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  
}

.status_Active {
   background-color: #006400;;
  border: 2px solid silver;
  
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  
}